@use '../../styles/variables.scss' as *;

.table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  padding: 0.5rem 1rem;
  text-align: left;
  transition: background 0.2s, color 0.2s;
}
th {
  background: $tc-secondary;
  color: $tc-text;
  transition: background 0.2s, color 0.2s;
}
tr:nth-child(even) {
  background: $tc-background;
  transition: background 0.2s;
}
