@use '../styles/variables.scss' as *;

.login {
  max-width: 400px;
  margin: 4rem auto;
  padding: 2rem;
  background: $tc-background;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  color: $tc-text;
}
